/*******************************
BODY
********************************/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #cccccc; 
	background-image: url('../img/waves.png'); 
}

a {
	text-decoration: none;
	color: #434C52
}

#logo {
	text-align: center;
	margin: auto 0;
}

img {
	max-width: 100%;
}


/*******************************
HEADER
********************************/
header {
	background-color: #FFFFCC;
	text-align: center;
	margin: -15px 0 15px 0;
	padding-top: 1%;
}

h1 {
	font-family:'Racing Sans One', sans-serif;
}

h2 { 
font-family: 'Racing Sans One', sans-serif;
font-size: 1.5em
}


/*******************************
NAVIGATION
********************************/
nav {
	text-align: center;
	background-color: #FFFFCC;
}

nav a {
	background-color: #FFFFFF;
	padding: 10px;
	border-radius: 50%;
}

nav ul {
	list-style: none;
	
}

nav li {
	display: inline-block;
	text-align: center;
}


nav a.selected, nav a:hover {
	color: #000000;
	font-weight: bold;
}


/*******************************
FOOTER
********************************/
footer {
	background-color: #FFFFCC;
	color: #434C52;
	text-align: center;
	clear: both;
	padding: 1%;
	margin: auto;
}



/*******************************
PAGE: HOME
********************************/
#gallery {
	list-style: none;
}

#gallery li {
	float: left;
	width:25%;
	margin:4%;
	background-color: #FFFFCC;
}

#gallery li:hover {
	color: #000000;
	font-weight: bold;
}

#intro {
	text-align: center;
	margin:  auto;
}


/*******************************
PAGE: ABOUT
********************************/
#rollerinfo {
	text-align: center;
	padding-top: 2%;
}

#steps {
	text-align: left;
	margin: 5%;
}

/*******************************
PAGE: CONTACT
********************************/

#contactinfo {
	text-align: center;
	padding-top: 2%;
}

#secondary ul {
	list-style: none;
	padding: 2%, 0;
}

