/*******************************
BODY
********************************/
body {
	background-color: #cccccc; 
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #434C52
}

#logo {
	text-align: center;
	margin: auto 0;
}

img {
	max-width: 100%;
}

/*******************************
HEADER
********************************/
header {
	background-color: #FFFFCC;
	text-align: center;
	margin: 0 0 30px 0;
}

h1 {
	font-family: 'Cantarell', sans-serif;
}

h2 { 
font-family: 'Cantarell', sans-serif;
font-size: 1.5em
}


/*******************************
NAVIGATION
********************************/
nav {
	text-align: center;
	background-color: #FFFFCC;
}

nav a {
	background-color: #FFFFFF;
	padding: 10px;
	border-radius: 50%;
}

nav ul {
	list-style: none;
	
}

nav li {
	display: inline-block;
	text-align: center;
}


nav a.selected, nav a:hover {
	color: #000000;
}


/*******************************
FOOTER
********************************/
footer {
	background-color: #FFFFCC;
	color: #434C52;
	text-align: center;
	clear: both;
	padding-top: 30px;
}



/*******************************
PAGE: HOME
********************************/
#gallery {
	list-style: none;
}

#gallery li {
	float: left;
	width:25%;
	margin:4%;
	background-color: #FFFFCC;
}

#intro {
	text-align: center;
}
/*******************************
PAGE: ABOUT
********************************/
#rollerinfo {
	text-align: center;
}

#steps {
	text-align: left;
}

/*******************************
PAGE: CONTACT
********************************/

#contactinfo {
	text-align: center;
}

#secondary ul {
	list-style: none;
}

